@font-face {
   font-family: 'asterik-regular';
   font-display: swap;
   src: url('file:///C:/Users/hacho/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-10-04_121516/fonts/asterik-regular/font.ttf');
}
